/* Utilisé par pages/about.php*/
#about{
width: 600px;
border: 1px solid black;
text-align: justify;
padding: 12px;
	background-color: rgb(209, 209, 209);
 margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}
