/* 
    Created on : 26 mars 2019, 11:00:12
    Author     : MadSyro
*/



table,td,tr,th{
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: ridge;
    border-color: black;
    text-align: center;
    width: 1000px;
    height: 50px;
}